/*//*/ /*/ Variables /*/ /*//*/

$salmon: #cc6666;
$pink: #f39494;
$navy: #093b5b;

//// Colors ////
$white: #fff;
$black: #000;

$dark-grey: #6B6B6B;
$grey: #A1A1A1;
$light-grey: #D6D6D6;
$xlight-grey: #E4E4E4;

$dark-blue: #3B8FA8;
$blue: #4FBFE0;
$light-blue: #72CCE6;
$xlight-blue: #DCF2F9;

$dark-green: #269900;
$green: #33CC00;
$light-green: #8FC981;

$dark-yellow: #BE8C24;
$yellow: #FDBB30;
$light-yellow: #FDC959;

$dark-red: #AA2820;
$red: #E3352B;
$light-red: #EE8680;

$dark-orange: #BE8C24;
$orange: #FF8533;
$light-orange: #FDC959;

//// Fonts ////
@font-face {
    font-family: "Hello";
    src: url(../fonts/hello/Hello.ttf);
}
@font-face {
    font-family: "Nunito-Regular";
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: "Nunito-Bold";
    src: url(../fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
    font-family: "Nunito-Italic";
    src: url(../fonts/Nunito/Nunito-Italic.ttf);
}


$hello: "Hello", "Arial Thin", sans-serif;
$nunito-bold: "Nunito-Bold", "Arial Light", sans-serif;
$nunito-regular: "Nunito-Regular", "Arial Regular", sans-serif;
$nunito-italic: "Nunito-Italic", "Arial Regular", sans-serif;
// TODO note: Montserrat as primary, Arial if Montserrat not available, then just an Sans-Serif if Arial not available

// Animation underline
  // mixin
  @mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: $pink) {
    @if $dir == null {
      @if $type == fade {
        $dir: 'top';
      } @else if $type == slide {
        $dir: 'center';
      }
    }
  
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: $weight;
      background: $color;
      @if $type == fade {
        transition: .3s;
        opacity: 0;
        visibility: hidden;
        @if $dir == bottom {
          bottom: $weight * -4;
        } @else {
          bottom: $weight;
        }
      } @else if $type == slide {
        bottom: $weight * -2;
        transform: scale(0, 1);
        transition: transform .3s;
        @if $dir == left-right or $dir == right-in-left {
          transform-origin: left top;
        } @else if $dir == right-left or $dir == left-in-right {
          transform-origin: right top;
        } @else {
          transform-origin: center top;
        }
      }
    }
    &:hover::after {
      @if $type == fade {
        bottom: $weight * -2;
        opacity: 1;
        visibility: visible;
      } @else if $type == slide {
        @if $dir == left-in-right {
          transform-origin: left top;
        } @else if $dir == right-in-left {
          transform-origin: right top;
        }
        transform: scale(1, 1);
      }
    }
  }
  
  // usage
  .example01 a {
    @include hover-underline('fade', 'top');
  }
  .example02 a {
    @include hover-underline('fade', 'bottom');
  }
  .example03 a {
    @include hover-underline('slide', 'left-right');
  }
  .example04 a {
    @include hover-underline('slide', 'right-left');
  }
  .example05 a {
    @include hover-underline('slide', 'left-in-right');
  }
  .example06 a {
    @include hover-underline('slide', 'right-in-left');
  }
  .example07 a {
    @include hover-underline('slide', 'center');
  }