/*//*/ /*/ Variables /*/ /*//*/
// TODO: update colors and fonts if you like
//// Colors ////
$white: #fff;
$black: #000;

$dark-grey: #6B6B6B;
$grey: #A1A1A1;
$light-grey: #D6D6D6;
$xlight-grey: #E4E4E4;

$dark-blue: #3B8FA8;
$blue: #4FBFE0;
$light-blue: #72CCE6;
$xlight-blue: #DCF2F9;

$dark-green: #269900;
$green: #33CC00;
$light-green: #8FC981;

$dark-yellow: #BE8C24;
$yellow: #FDBB30;
$light-yellow: #FDC959;

$dark-red: #AA2820;
$red: #E3352B;
$light-red: #EE8680;

$dark-orange: #BE8C24;
$orange: #FF8533;
$light-orange: #FDC959;

//// Fonts ////
@font-face {
    font-family: "Montserrat-Thin";
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-Black";
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: "Montserrat-Italic";
    src: url(../fonts/Montserrat/Montserrat-Italic.ttf);
}

$montserrat-thin: "Montserrat-Thin", "Arial Thin", sans-serif;
$montserrat-light: "Montserrat-Light", "Arial Light", sans-serif;
$montserrat-regular: "Montserrat-Regular", "Arial Regular", sans-serif;
$montserrat-medium: "Montserrat-Medium", "Arial Medium", sans-serif;
$montserrat-bold: "Montserrat-Bold", "Arial Bold", sans-serif;
$montserrat-black: "Montserrat-Black", "Arial Black", sans-serif;
$montserrat-italic: "Montserrat-Italic", "Arial Italic", sans-serif;
// TODO note: Montserrat as primary, Arial if Montserrat not available, then just an Sans-Serif if Arial not available